version: '3.8'

services:
  api:
    build: .
    container_name: todo_api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

  postgres:
    image: postgres:16
    container_name: todo_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: todo_list
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: